#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

button{
  background-color: #4a90e2;
  color: black;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 5px 2px lightskyblue;
}

button:focus{
  outline: none;
}

button


h1, h2, h3{
  color: #4a90e2;
  text-shadow: -1px -1px 0 #3a3a2e, 1px -1px 0 #3a3a2e, -1px 1px 0 #3a3a2e, 1px 1px 0 #3a3a2e;
  margin: 0.5em;
  
}

