.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center; 
  /* flex-direction: column;
}


.card {
  padding: 2em;
}

button{
  background-color: #4a90e2;
  color: black;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

button:focus{
  outline: none;
}

button:active {
  background-color: #407cc2;
  box-shadow: inset 2px 4px 4px #2c3e50;
  transform: translateY(2px);
}

h1, h2, h3{
  color: #4a90e2;
  text-shadow: -1px -1px 0 #3a3a2e, 1px -1px 0 #3a3a2e, -1px 1px 0 #3a3a2e, 1px 1px 0 #3a3a2e;
  margin: 0.5em;
  
}

